/* Universal */

html {
  font-size: 18px;
}

a {
  text-decoration: none;
}

/* Header */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: white;
  opacity: 0.8;
  border-top: 3px solid black;
}

nav span {
  margin: 1rem;
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (max-width: 800px) {
  nav {
    height: 2rem;
  }

  nav span {
    margin: 0 auto;
  }

  .order {
    display:none;
  }
}

/* Main banner */

.banner {
  height: 38rem;
  background-image: url('../images/black_banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  margin-right: 3rem;
}

.banner.text h1 {
  font-size: 5.5rem;
}

.banner.text h2 {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  width: 60%;
  font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (max-width: 930px) {
  .banner.text {
    text-align: center;
    align-items: center;
    margin: 0;
  }

  .banner.text h2 {
    background-color: white;
    color: black;
    padding: 1rem;
    opacity: 0.8;
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .banner {
    height: 32rem;
  }

  .banner.text h2 {
    width: 90%;
    opacity: 0.8;
    padding: 1rem;
  }
}

/* How it works */


.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.service {
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.service img {
  width: 20%;
  margin-bottom: 1rem;
}

.service h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.service span {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (max-width: 500px) {
  .services {
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
  }

  .service {
    width: 70%;
    margin: 1rem;
  }
}


/* Meal banner */

.meal-banner {
  height: 18rem;
  background: url('https://github.com/alexlsalt/port-townsend-eats/blob/master/resources/images/meal_3.JPG?raw=true');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meal-banner span {
  font-size: 2rem;
  font-style: italic;
  width: 90%;
  background-color: white;
  padding: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  opacity: 0.8;
}

@media only screen and (max-width: 500px) {
  .meal-banner span{
    font-size: 1.2rem;
    opacity: 0.8;
  }
}

/* Meet the Chef */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.about h2 {
  font-size: 3rem;
}

.about.chef {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}

.about.chef img {
  height: 25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 5px solid lightgray;
}

.about.chef span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  padding: 1.5rem;
  width: 50%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: lightgray;
}

@media only screen and (max-width: 500px) {
  .about h2 {
    background-color: lightgray;
    width: 100%;
    text-align: center;
  }

  .about.chef img {
    height: 20rem;
  }

  .about.chef span {
    width: 83.5%;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 930px) {
  .about.chef {
    flex-direction: column;
    align-items: center;
  }

  .about.chef img {
    height: 22.5rem;
  }

  .about.chef span {
    width: 90%;
    margin-top: 1.5rem;
    text-align: center;
  }
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  margin-top: 2rem;
  border-top: 3px solid black;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer span {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer li {
  margin: 0.5rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer a {
  padding: 1rem;
  border: 3px solid lightgray;
}

.footer a:hover {
  background-color: lightgray;
}

.footer a:hover {
  color: black;
}

.footer a {
  color: gray;
}

.copyright {
  font-size: 0.9rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border-top: 1px solid gray;
  padding-top: 0.5rem;
}

@media only screen and (max-width: 500px) {
  .footer {
    height: auto;
    flex-direction: column-reverse;
  }

  .footer span {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }

  .footer ul {
    flex-direction: column;
    align-items: space-around;
  }

  .footer li {
    margin-bottom: 2.5rem;
  }

  .footer a {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .copyright {
    margin-top: 0.5
  }

}
